
#header { 
    color: #dddddd;
    font-size: 20px;
    padding: 15px;
    padding-top: 0px;
    letter-spacing: 1px;
}

@media (min-width: 100px){
    #scopeContent {
        text-align: left;
        margin: 0px;
    }
}

@media (min-width: 991px){
    #scopeContent {
        text-align: left;
        margin: 0px;
        overflow-y: auto;
        height: calc(100vh - 230px);
    }
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    /*background: url('../images/background.jpg') center center fixed; */
    background-color: #101010;
}

.footer td {
    background-color: #212121;
    color: #dddddd;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

.copyright {
    text-align: right;
}

.navbar-static-top nav {
    border-radius: 0px;
}

.text-small {
    font-size: 11px;
    letter-spacing: 3px;
}

a.navbar-brand-small {
    letter-spacing: 3px;
    font-weight: 300;
}

.bar {
    background: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #dddddd;
}

.bar h1 {
    font-size: 50px;
}

@media (min-width: 100px){
    div.bar-top {
        text-align: center;
        margin-left: 20px;
        margin-top: 10px;
    }
}

@media (min-width: 991px){
    div.bar-top {
        text-align: left;
        margin-left: 20px;
        margin-top: 10px;
    }
}

.bar-separation {
    height: 40px;
}

.bar-content {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #414141;
    text-align: center;
    font-size: 18;
    font-family: 'Open Sans', sans-serif;
}

.bar-content-alt1 {
    background-color: #ffffff;
    color: #515151;
}

.bar-content-alt2 {
    background-color: #1b4046;
    color: #d3d7d8;
}

@media (min-height: 0px){
    .fullpage {
        height: 520px;
    }
}

@media (min-height: 600px){
    .fullpage {
        height: 92vh;
    }
}

/* Content cards */
.card {
    background-color: #313131;
    border-width: 0px;
    border-top-width: 3px;
    border-top-color: #ff6d00;
    border-bottom-width: 6px;
    border-bottom-color: #252525;
    border-style: solid;
    color: #dddddd;

    margin-bottom: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 14px;
    -webkit-transition: .35s;
    transition: .35s;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.card h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: right;
    font-weight: 200;
}

.card p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.card-narrow {
    padding: 3px;
}

.cardicon {
    margin: 10px;
}

.itemicon {
    margin-right: 10px;
}

table.value {
    width: 100%;
}

table.value th {
    padding-right: 10px;
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 2px;
    color: #dddddd;
    width: 100px;
}

tbody.value td {
    padding: 2px;
    padding-right: 4px;
    color: #dddddd;
    font-size: 16px;
    text-align: left;
}

tbody.value td.base {
    font-style: italic;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 200;
    color: #777;
}

code {
    background-color: #222;
    color: #aaa;
    margin: 2px;
    border-width: 0px;
    font-size: 13px;
    letter-spacing: 1px;
}
code.reference {
    color: #00cf92;
    text-decoration: none;
}
code.enum {
    color: #AA55CC;
}
code.bitmask {
    color: #AA55CC;
}
code.boolean {
    color: #4444DD;
}
code.number {
    color: #4444DD;
}
code.string {
    color: #DD4444;
}
a.reference {
    text-decoration: none;
    cursor: pointer;
    font-weight: 200;
}
a.reference:visited {
    text-decoration: none;
}
a.reference:hover {
    color: #ffffff;
    text-decoration: none;
}
span.collapsing {
    font-size: 7px;
}
span.expanding {
    font-size: 7px;
}

.center {
    text-align: center;
}

.empty-90px {
    margin-top: 90px;
}
.empty-70px {
    margin-top: 70px;
}
.empty-80px {
    margin-top: 80px;
}
.empty-20px {
   margin-top: 20px; 
}
.empty-40px {
   margin-top: 40px; 
}

