
body {
    background-color: #eee;
}

nav.navbar-doc {
    border-radius: 0px; 
    background-color: #fff;
    position: fixed; 
    z-index: 999; 
    width: 100%;
    left: 0px;
    box-shadow: 0px 0px 25px #ddd;
}

.nav.navbar-nav.navbar-right a {
    letter-spacing: 2px;
    font-size: 12px;
    border: none;
    color: #515151;
}

table.category {
    border-collapse: collapse;
    border-spacing: 0px;
}

table.category td {
    color: #515151;
    padding: 5px 20px;
    margin: 0px;
    border: solid #ddd 1px;
    text-align: top;
}

table.detail td {
    font-size: 14px;
}

div.package {
    background-color: #fff;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

p.title {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 300;
}

p.parents {
    margin-top: 10px;
    font-size: 12px;
}

a.reference {
    font-weight: 600;
}

a.reference-type {
    font-weight: 600;
    font-size: 14px;
}

a.reference-enum {
    color: #9966aa;
}

a.details {
    font-size: 14px;
}

a.anchor {
    padding-top: 60px;
}

span.annotate {
    font-size: 11px;
}

span.description {
    font-size: 14px;
}

span.overrides {
    color: #515151;
    font-weight: 300;
    font-size: 18px;
}

span.virtual {
    font-weight: 300;
}

span.constant {
    color: #9966aa;
}

span.enumtype {
    font-weight: 300;
}

h1 {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 300;
}

h2 {
    margin-top: 50px;
}

h3.detail {
    margin-top: 30px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 15px;
    margin-bottom: 3px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}


