
body {
    background-color: #FFFFFF;
    margin: 0px;
}

#header {
    background-color: #EEEEEE;   
    color: #515151;
    font-family: futura, sans-serif;
    font-size: 20px;
    font-style: italic;
    padding: 5px;
    margin: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}

.me {
    font-weight: bold;
    font-size: 21px;
}

.toggle {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.collapse {
    font-size: 10px;
}
span.expand {
    font-size: 10px;
}

a.header {
    color: #515151;
    text-decoration: none;
}

a.header:hover {
    color: #CC8855;
}

#scope {
    margin: 10px;
    width: 250px;
    float: left;
}

#scopeTable {
    margin-top: 0px;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

#scopeContent {
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 130px);
}

#valueTable {
    margin: 10px;
    margin-left: 260px;
    width: 400px;
}

#metaTable {
    margin: 10px;
    margin-left: 260px;
    width: 400px;   
}

#scopeIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    content: url("scope_icon.png");
}

#valueIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    content: url("value_icon.png");
}

#metaIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    content: url("meta_icon.png");
}

#objectIcon {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    content: url("object_icon.png");
}

#upIcon {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    content: url("up_icon.png");
}


tr.separator td {
    padding: 4px;
    padding-right: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: #00cf92;
    background-color: #FFFFFF;
}

table.value {
    text-align: left;
    font-weight: normal;
    border-spacing: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    padding: 1px;
    background-color: #CCCCCC;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    table-layout:fixed;
}

table.value th {
    padding: 2px;
    padding-right: 10px;
    padding-left: 5px;
    background-color: #EEEEEE;
    font-weight: normal;
    font-family: futura, sans-serif;
    font-size: 15px;
    width: 100px;
    color: #515151;
}

tbody.value td {
    padding: 3px;
    padding-right: 4px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 14px;
    white-space: nowrap;
    overflow: scroll;
}

tbody.value td.complex {
    background-color: #F8F8F8;
}
tbody.value td.dummy {
    background-color: #FFFFFF;
}

tbody.value td.base {
    font-family: futura, sans-serif;
    background-color: #F8F8F8;
    color: #515151;
}

thead.value tr:first-child td:last-child {
    border-top-right-radius: 5px;
}

thead.value td {
    padding: 2px;
    padding-right: 10px;
    font-weight: bold;
    font-style: italic;
    font-family: futura, sans-serif;
    font-size: 22px;
    text-align: right;
    background-color: #FFFFFF;
    color: #515151;
}

code.number {
    color: #0000FF;
}

code.normal {
    color: #000000;
}

code.boolean {
    color: #0000FF;
}

a.reference {
    color: #CC8855;
    text-decoration: none;
}
a.reference:visited {
    color: #CC8855;
    text-decoration: none;
}

code.reference {
    color: #CC8855;
    text-decoration: none;
}

code.enum {
    color: #AA55CC;
}

code.bitmask {
    color: #AA55CC;
}

code.string {
    color: #DD4444;
}


