
#header { 
    color: #515151;
    font-size: 20px;
    padding: 15px;
    padding-top: 0px;
}

#scopeTable {

}

.me {
    font-weight: bold;
}


@media (min-width: 100px){
    #scopeContent {
        margin: 0px;
    }
}

@media (min-width: 767px){
    #scopeContent {
        margin: 0px;
        overflow-y: scroll;
        height: calc(100vh - 210px);
    }
}


#scopeIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    content: url("../images/scope_icon.png");
}

#valueIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    content: url("../images/value_icon.png");
}

#metaIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    content: url("../images/meta_icon.png");
}

#objectIcon {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    content: url("../images/object_icon.png");
}

#upIcon {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    content: url("../images/up_icon.png");
}

body {
    background-color: #FFFFFF;
    margin: 0px;
}

.toggle {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.collapsing {
    font-size: 10px;
}
span.expanding {
    font-size: 10px;
}

a.header {
    color: #00cf92;
    text-decoration: none;
    cursor: pointer;
}

a.header:hover {
    color: #515151;
}

table.value {
    width: 100%;
}

table.value th {
    padding-right: 10px;
    font-weight: normal;
    font-size: 13px;
    color: #515151;
    width: 100px;
}

tbody.value td {
    padding: 3px;
    padding-right: 4px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 13px;
}

tbody.value td.base {
    padding-top: 8px;
    font-style: italic;
    color: #CCC;
}

thead.value h3 {
    padding: 2px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: right;
    background-color: #FFFFFF;
    color: #515151;
}

code.number {
    color: #0000FF;
}

code.normal {
    color: #000000;
}

code.boolean {
    color: #0000FF;
}

a.reference {
    color: #CC8855;
    text-decoration: none;
    cursor: pointer;
}
a.reference:visited {
    color: #CC8855;
    text-decoration: none;
}
a.reference:hover {
    color: #515151;
    text-decoration: none;
}

span.scopeType {
    font-size: 10px;
    color: #515151;
    cursor: pointer;
}
span.scopeType:visited {
    font-size: 10px;
    color: #515151;
}
a.scopeType {
    font-size: 10px;
    color: #515151;
    text-decoration: none;
}
a.scopeType:visited {
    font-size: 10px;
    color: #515151;
    text-decoration: none;
}

code {
    color: #515151;
}

code.reference {
    color: #00cf92;
    text-decoration: none;
}

code.enum {
    color: #AA55CC;
}

code.bitmask {
    color: #AA55CC;
}

code.string {
    color: #DD4444;
}


